/* Main CSS 8*/
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    /*background-color: #7aa1c92c;*/
}

:root {
    /* colors #0062C5 #282938 #02A3BE #0C2249*/
    --primary: #0062C5;
    --heading-color: #041430;
    --brown: #A6937D;
    --bg-shade: #fafaff;
    --blue: #0045c50c;
    --darkblue: #0C2249;
    --black: #040509;
    --white: #ffffff;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}

.btn {
    font-family: "Roboto", sans-serif;
    display: inline-block;
    margin: 30px;
    padding: 25px 60px;
    font-weight: 800;
    font-size: 30px;
    line-height: 24px;
    cursor: pointer;
    border-radius: 120px;

}

.btn-primary {
    color: var(--white);
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.btn-primary:hover {
    color: var(--primary);
    background-color: var(--white);
    border-bottom: 5px solid var(--primary);
}

h1 {
    font-size: 50px;
}

p {
    font-size: 25px;
}

/* Navbar Style */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: 0px 5px 80px 0 rgba(0,0,0, 0.1);
}

.navbar_items > ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.navbar-content {
    color: var(--black);
    cursor: pointer;
}

.navbar-img {
    width: 23%;
}

.navbar-active {
    color: var(--black);
}

/* Main Section Style */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 150px -300px;
    position: relative;
}

.main-img {
    width: 85%;
    margin: 0 auto;
    border-radius: 15px;
}

.main-content-box {
    position:relative;
    text-align: center;
    bottom: 305px; 
    left: 0; 
    right: 0; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: center; 
    opacity: 0;
    animation: fadeInAnim 1.5s forwards;
}

.main-content-box > .main-content {
    background-color: rgba(0, 0, 0, 0.555); /* Semi-transparent white background */
    border-radius: 15px;
}

.main-content {
    color: var(--white);  
}



@keyframes fadeInAnim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Services Style */
.services-section {
    margin-top: 80px;
    margin-bottom: 40px;
    height: 460px;
    text-align: center;
    background-color: var(--blue);
}

.title-container {
    padding: 20px 0;
    text-align: center;
}

.title {
    color: var(--black);
    font-size: 45px;
}

.services-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 132px;
}

.services-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
    border-radius: 10px;
    border: solid 1px var(--primary);
    background-color: var(--white);
    padding: 20px;
}

.services-card:hover {
    border-bottom: 5px solid var(--primary);
}

.services-card-img {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.services-card-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: inherit;
}

.list-title {
    margin-top: 15px;
}
/* Gallery Style */
.logos-section {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    box-sizing: border-box;
}

.logos {
    box-sizing: border-box;
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
}

.logos-slide {
    display: inline-block;
    animation: slide 45s infinite linear;
}

.logos-slide img {
    height: 400px;
    margin: 0px 40px;
    transition: transform 0.3s ease;
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide img:hover {
    transform: scale(1.2);
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* Contact Form Style */
.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
}

.tab-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 30px;
    border-radius: 25px;
    background-color: #ffffff;
    width: 65%;
    margin-bottom: 60px;
}

.tab-box {
    width:  70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 2px var(--black);
    font-size: 27px;
    font-weight: 600;
    position: relative;
}

.tab-box .tab-btn {
    font-size: 27px;
    font-weight: 600;
    color: var(--black);
    background: none;
    border: none;
    padding: 15px;
    cursor: pointer;
}

.tab-box .tab-btn.active {
    color: var(--primary);
}

.tab-content-box {
    padding: 20px;
}

.tab-content-box .tab-content{
    display: none;
    animation: fadeInAnim .5s ease;
}

.tab-content-box .tab-content h2{
    margin-bottom: 10px;
}

.line{
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 50%;
    height: 5px;
    background-color: var(--primary);
    border-radius: 20px;
    transition: all .2s ease-in-out;
}

.tab-content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.tab-content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    width: 90%;
    row-gap: 32px;
}

.contact-container {
    display: grid;
    column-gap: 32px;
    row-gap: 32px;
}

.contact-label {
    font-family: "Roboto";
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    width: 100%;
}

.contact-input {
    display: flex;
    font-family: "Roboto";
    font-size: 22px;
    padding: 10px;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--primary);
}

.checkbox-label {
    font-family: "Roboto";
    font-size: 18px;
}

/* About Style */

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

iframe {
    border-radius: 15px;
    margin-bottom: 60px;
}

/* Footer Starts */
.footer--container {
    display: flex;
    padding: 50px 85.333px;
    flex-direction: column;
    align-items: flex-start;
    background: var(--bg-shade);
    align-items: center;
    align-self: stretch;
    
  }
  .footer--link--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    
  }
  .footer--items > ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    text-decoration: none;
  }
  .footer--items ul > li > a {
    text-decoration: none;
  }
  .footer--social--icon > ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    text-decoration: none;
  }